---
interface Props {
    location: string;
    gender: string;
}

const { location, gender } = Astro.props;
---

<div class="flex justify-center items-center flex-wrap gap-x-10 gap-y-2">
    {
        location !== '' && (
            <div class="flex items-center space-x-2.5">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-4 h-4 text-slate-700 dark:text-zinc-300"
                >
                    <path
                        fill-rule="evenodd"
                        d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        clip-rule="evenodd"
                    />
                </svg>

                <span class="font-['Sora'] text-sm uppercase text-zinc-800 dark:text-zinc-300 font-medium">
                    {location}
                </span>
            </div>
        )
    }
    {
        gender !== '' && (
            <div class="flex items-center space-x-2.5">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-4 h-4 text-slate-700 dark:text-zinc-300"
                >
                    <path
                        fill-rule="evenodd"
                        d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                        clip-rule="evenodd"
                    />
                </svg>
                <span class="font-['Sora'] text-sm uppercase text-zinc-800 dark:text-zinc-300 font-medium">
                    {gender}
                </span>
            </div>
        )
    }
</div>
